<div class="container">
  <div class="row">
    <div class="col">
      <h2>
      Add a new trip
    </h2>
    </div>
    <div class="col">
       <form action="/insert_trip" method="post">
      <div>
        <label for="start_a_box">
          Start Location
        </label>

        <input type="text" id="start_a_box" name="query_start_a">
      </div>

      <div>
        <label for="end_b_box">
          End Location
        </label>

        <input type="text" id="end_b_box" name="query_end_b">
      </div>

      <div>
        <label for="start_date_box">
          Start Date
        </label>

        <input type="datetime-local" id="start_date_box" name="query_start_date">
      </div>

      <div>
        <label for="end_date_box">
          End Date
        </label>

        <input type="datetime-local" id="end_date_box" name="query_end_date">
      </div>

      <div>
        <label for="trip_type_box">
          Trip type
        </label>

        <select  id="trip_type_box" name="query_trip_type">
          <option type="text" value="Flight">Flight</option>
          <option type="text" value="Train">Train</option>
          <option type="text" value="Taxi">Taxi</option>
          <option type="text"  value="Hotel">Hotel</option>  
          <option type="text"  value="Food">Food</option>
          <option type="text"  value="Leisure">Leisure</option>
          </select>
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>
      <button>
        Create trip
      </button>
    </form>
    </div>
    <div class="col">
        <%if session[:indicator]==FALSE%>
    <a href="/add_business_travels_overview">
      Finish Business Travel Plan 
    </a>
    <%else%>
    <a href="/business_travels/<%=session[:business_travel_id]%>">
      Finish Business Travel Plan 
    </a>
    <%end%>
    </div>
  </div>
</div>
<hr>

<div>
  <div>
    <h1>
      Trips for Business Travel: <%=session[:business_travel_name]%> 
    </h1>
  </div>
</div>

<% @list_of_trips =  Trip.all.where({:business_travel_id => session[:business_travel_id]}).order({ :created_at => :desc })%>

<% if @list_of_trips.present?%>
<div>
  <div>
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Start a
        </th>

        <th>
          End b
        </th>

        <th>
          Start date
        </th>

        <th>
          End date
        </th>

        <th>
          Trip type
        </th>

        <th>
          Description
        </th>

        <th>
          Business travel
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trips.each do |a_trip| %>
      <tr>
        <td>
          <%= a_trip.id %>
        </td>

        <td>
          <%= a_trip.start_a %>
        </td>

        <td>
          <%= a_trip.end_b %>
        </td>

        <td>
          <%= a_trip.start_date %>
        </td>

        <td>
          <%= a_trip.end_date %>
        </td>

        <td>
          <%= a_trip.trip_type %>
        </td>

        <td>
          <%= a_trip.description %>
        </td>

        <td>
          <%= a_trip.business_travel_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_trip.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_trip.updated_at) %> ago
        </td>

        <td>
          <a href="/trips/<%= a_trip.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%else%>
<p> No trips planned</p>
<%end%>

<hr>

