<div>
  <div>
    <h1>
      Trips for Business Travel: <%=session[:business_travel_name]%> 
    </h1>
  </div>
</div>

      <div>
        <a href="/business_travels/<%=session[:business_travel_id]%>">
          Go back
        </a>
      </div>


      <div>
        <a href="/add_trip">
          Add trip to business travel plan
        </a>
      </div>


<% if @list_of_trips.present?%>
<div>
  <div>
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Start a
        </th>

        <th>
          End b
        </th>

        <th>
          Start date
        </th>

        <th>
          End date
        </th>

        <th>
          Trip type
        </th>

        <th>
          Description
        </th>

        <th>
          Business travel
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trips.each do |a_trip| %>
      <tr>
        <td>
          <%= a_trip.id %>
        </td>

        <td>
          <%= a_trip.start_a %>
        </td>

        <td>
          <%= a_trip.end_b %>
        </td>

        <td>
          <%= a_trip.start_date %>
        </td>

        <td>
          <%= a_trip.end_date %>
        </td>

        <td>
          <%= a_trip.trip_type %>
        </td>

        <td>
          <%= a_trip.description %>
        </td>

        <td>
          <%= a_trip.business_travel_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_trip.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_trip.updated_at) %> ago
        </td>

        <td>
          <a href="/trips/<%= a_trip.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%else%>
<p> No trips planned</p>
<%end%>

<hr>
