<div>
  <div>
    <h1>
      Post: <%=Post.where({:id=>params.fetch('path_id').to_i}).at(0).content%>
    </h1>
  </div>
</div>

<%session[:post_id]=params.fetch('path_id').to_i%>

<hr>
<%if session[:chatroom]=='public'%>
      <div>
        <a href="/posts/chatroom/public">
          Go back
        </a>
      </div>
<%else%>
      <div>
        <a href=<%="/posts/chatroom/#{session[:company_id]}"%>>
          Go back
        </a>
      </div>

<%end%>



<div>
  <div>
    <h2>
      Add a new comment
    </h2>

    <form action="/insert_comment" method="post">
      <div>
        <label for="content_box">
          Content
        </label>

        <input type="text" id="content_box" name="query_content">
      </div>

      <button>
        Create comment
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table">
      <tr>
        <th>
          Name
        </th>

        <th>
          Content
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_comments.each do |a_comment| %>
      <tr>
        <td>
          <%= a_comment.post.user.name %>
        </td>

        <td>
          <%= a_comment.content %>
        </td>

        <td>
          <%= time_ago_in_words(a_comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_comment.updated_at) %> ago
        </td>
        <%if a_comment.post.user.id=session[:user_id] %>
        <td>
          <a href="/comments/<%= a_comment.id %>">
            Show details
          </a>
        </td>
        <%end%>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
