<div>
  <div>
    <h1>
      Comment details
    </h1>

    <div>
      <div>
        <a href="/comments/post/<%= @the_comment.post_id %>">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_comment/<%= @the_comment.id %>">
          Delete comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Content
      </dt>
      <dd>
        <%= @the_comment.content %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit comment
    </h2>

    <form action="/modify_comment/<%= @the_comment.id %>"  method="post" >
      <div>
        <label for="content_box">
          Content
        </label>

        <input type="text" id="content_box" name="query_content" value="<%= @the_comment.content %>">
      </div>
      <button>
        Update comment
      </button>
    </form>
  </div>
</div>

<hr>
