<hr>

<div>

  <div>
  <%if session[:indicator]==FALSE%>
    <a href="/add_business_travels_overview">
      Finish Business Travel Plan 
    </a>
    <%else%>
    <a href="/business_travels/<%=session[:business_travel_id]%>">
      Finish Business Travel Plan 
    </a>
    <%end%>
  </div>

  <div>
    <h2>
      Add a new budget
    </h2>

    <form action="/insert_budget" method="post">
      <div>
        <label for="budget_box">
          Budget
        </label>

        <input type="text" id="budget_box" name="query_budget">
      </div>

      <div>
        <label for="budget_type_box">
          Budget type
        </label>

                <select  id="budget_type_box" name="query_budget_type">
          <option type="text" value="Flight">Flight</option>
          <option type="text" value="Train">Train</option>
          <option type="text" value="Taxi">Taxi</option>
          <option type="text"  value="Hotel">Hotel</option>  
          <option type="text"  value="Food">Food</option>
          <option type="text"  value="Leisure">Leisure</option>
          </select>
      </div>


      <button>
        Create budget
      </button>
    </form>
  </div>
</div>

<div>
  <div>
    <h1>
      Budgets for Business Travel: <%=session[:business_travel_name]%>
    </h1>
  </div>
</div>

<% @list_of_budgets =  Budget.all.where({:business_travel_id => session[:business_travel_id]}).order({ :created_at => :desc })%>

<% if @list_of_budgets.present?%>

<div>
  <div>
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Budget
        </th>

        <th>
          Budget type
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_budgets.each do |a_budget| %>
      <tr>
        <td>
          <%= a_budget.id %>
        </td>

        <td>
          <%= a_budget.budget %>
        </td>

        <td>
          <%= a_budget.budget_type %>
        </td>

        <td>
          <%= time_ago_in_words(a_budget.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_budget.updated_at) %> ago
        </td>

        <td>
          <a href="/budgets/<%= a_budget.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%else%>
<p> No budget planned</p>
<%end%>

<hr>