<div>
  <div>
    <h1>
      Budget for Business Travel: <%=session[:business_travel_name]%>
    </h1>
  </div>
</div>

      <div>
        <a href="/business_travels/<%=session[:business_travel_id]%>">
          Go back
        </a>
      </div>


           <div>
        <a href="/add_budget">
          Add budget to business travel plan
        </a>
      </div>

<% if @list_of_budgets.present?%>

<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Budget
        </th>

        <th>
          Budget type
        </th>

        <th>
          Business travel
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_budgets.each do |a_budget| %>
      <tr>
        <td>
          <%= a_budget.id %>
        </td>

        <td>
          <%= a_budget.budget %>
        </td>

        <td>
          <%= a_budget.budget_type %>
        </td>

        <td>
          <%= a_budget.business_travel_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_budget.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_budget.updated_at) %> ago
        </td>

        <td>
          <a href="/budgets/<%= a_budget.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%else%>
<p> No budget planned</p>
<%end%>

<hr>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= pie_chart Budget.where({:business_travel_id=>session[:business_travel_id]}).group(:budget_type).sum(:budget) %>