<div>
  <div>
    <h1>
      List of all <%=@state%> business travels
    </h1>
  </div>
</div>


<% if @list_of_business_travels.present?%>
<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Start date
        </th>

        <th>
          End date
        </th>

        <th>
          Description
        </th>

        <th>
          Travel purpose
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_business_travels.each do |a_business_travel| %>
      <tr>

        <td>
          <%= a_business_travel.start_date %>
        </td>

        <td>
          <%= a_business_travel.end_date %>
        </td>

        <td>
          <%= a_business_travel.description %>
        </td>

        <td>
          <%= a_business_travel.travel_purpose %>
        </td>

        <td>
          <a href="/business_travels/<%= a_business_travel.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<%else%>
<p> No trips planned</p>
<%end%>
<hr>
