<div>
  <div>
    <h1>
      Details for business travel: <%= @the_business_travel.description %> 
    </h1>

   <table class="table">
      <tr>
        <th>
          Start date
        </th>

        <th>
          End date
        </th>

        <th>
          Description
        </th>

        <th>
          Travel purpose
        </th>

        <th>
        </th>
      </tr>

     <tr>

        <td>
          <%= @the_business_travel.start_date %>
        </td>

        <td>
          <%= @the_business_travel.end_date %>
        </td>

        <td>
          <%= @the_business_travel.description %>
        </td>

        <td>
          <%= @the_business_travel.travel_purpose %>
        </td>
      </tr>
    </table>

   
    <p>

      <div>
        <a href="/update_business_travel/<%= @the_business_travel.id %>">
          Update business travel
        </a>
      </div>

      <div>
        <a href="/delete_business_travel/<%= @the_business_travel.id %>">
          Delete business travel
        </a>
      </div>
    </p>


  <div class="container px-4 py-5" id="hanging-icons">
    <h4 class="pb-2 border-bottom">Manage Business Travels</h4>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h5>Travel Plan</h5>
          <p>Manage the Trips for the Business Travel.</p>
          <a href="/trips" class="btn btn-primary">
            Check Out
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h5>Travel Budget</h5>
          <p>Manage the Budget for the Business Travel.</p>
          <a href="/budgets" class="btn btn-primary">
            Check Out
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <%if Trip.where({:business_travel_id=>@the_business_travel.id}).present? && Budget.where({:business_travel_id=>@the_business_travel.id}).present? %>
     
        <div>
          <h5>Travel Expenses</h5>
          <p>Manage the Expenses for the Business Travel.</p>
          <a href="/manage_expenses" class="btn btn-primary">
            Check Out
          </a>
        </div>
             <%end%>
      </div>
    </div>
  </div>
