<div>
  <div>
    <h1>
      Details for business travel: <%= @the_business_travel.description %> 
    </h1>

   <table>
      <tr>
        <th>
          Start date
        </th>

        <th>
          End date
        </th>

        <th>
          Description
        </th>

        <th>
          Travel purpose
        </th>

        <th>
        </th>
      </tr>

     <tr>

        <td>
          <%= @the_business_travel.start_date %>
        </td>

        <td>
          <%= @the_business_travel.end_date %>
        </td>

        <td>
          <%= @the_business_travel.description %>
        </td>

        <td>
          <%= @the_business_travel.travel_purpose %>
        </td>
      </tr>
    </table>

   
    <p>

      <div>
        <a href="/update_business_travel/<%= @the_business_travel.id %>">
          Update business travel
        </a>
      </div>

      <div>
        <a href="/delete_business_travel/<%= @the_business_travel.id %>">
          Delete business travel
        </a>
      </div>
    </p>



      <h2>
        <a href="/trips">
          Show Travel Plan
        </a>
      </h2>

      <h2>
        <a href="/budgets">
          Show Travel Budget
        </a>
      </h2>

            <h2>
        <a href="/manage_expenses">
          Manage Travel Expenses
        </a>
      </h2>