<hr>


<div>
  <div>
    <h2>
      Edit business travel
    </h2>

    <form action="/modify_business_travel/<%= @the_business_travel.id %>"  method="post" >
      <div>
        <label for="start_date_box">
          Start date
        </label>

        <input type="date" id="start_date_box" name="query_start_date" value="<%= @the_business_travel.start_date %>">
      </div>

      <div>
        <label for="end_date_box">
          End date
        </label>

        <input type="date" id="end_date_box" name="query_end_date" value="<%= @the_business_travel.end_date %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_business_travel.description %>">
      </div>

      <div>
        <label for="travel_purpose_box">
          Travel purpose
        </label>

        <input type="text" id="travel_purpose_box" name="query_travel_purpose" value="<%= @the_business_travel.travel_purpose %>">
      </div>

      <button>
        Update business travel
      </button>
    </form>
  </div>
</div>

<hr>
