<div>
  <div>
    <h1>
      Post: <%=Post.where({:id=>params.fetch('path_id').to_i}).at(0).content%>
    </h1>

    <div>
      <div>
      <%if session[:chatroom]=='company'%>
        <a href=<%="/posts/chatroom/#{@the_post.id}"%>>
        <%else%>
        <a href=<%="/posts/chatroom/public"%>>
        <%end%>
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_post/<%= @the_post.id %>">
          Delete post
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_post.user_id %>
      </dd>

      <dt>
        Content
      </dt>
      <dd>
        <%= @the_post.content %>
      </dd>

      <dt>
        Chatroom
      </dt>
      <dd>
        <%= @the_post.chatroom_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @the_post.id %>"  method="post" >


      <div>
        <label for="content_box">
          Content
        </label>

        <input type="text" id="content_box" name="query_content" value="<%= @the_post.content %>">
      </div>

      <button>
        Update post
      </button>
    </form>
  </div>
</div>

<hr>
