<div>
  <div>
    <h1>
      Expenses for Business Travel: <%=session[:business_travel_name]%> 
    </h1>
  </div>
</div>

      <div>
        <a href="/business_travels/<%=session[:business_travel_id]%>">
          Go back
        </a>
      </div>

<% if @list_of_trips.present?%>
<div>
  <div>
    <table>
      <tr>
        <th>
          Start a
        </th>

        <th>
          End b
        </th>

        <th>
          Start date
        </th>

        <th>
          End date
        </th>

        <th>
          Trip type
        </th>

        <th>
          Description
        </th>

       <th>
          Expense
        </th>

        <th>
          Expense type
        </th>

        <th>
          Payment type
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trips.each do |a_trip| %>
      <tr>

        <td>
          <%= a_trip.start_a %>
        </td>

        <td>
          <%= a_trip.end_b %>
        </td>

        <td>
          <%= a_trip.start_date %>
        </td>

        <td>
          <%= a_trip.end_date %>
        </td>

        <td>
          <%= a_trip.trip_type %>
        </td>

        <td>
          <%= a_trip.description %>
        </td>

       <%if a_trip.expense.present?%>

        <td>
          <%= a_trip.expense.expense %>
        </td>

        <td>
          <%= a_trip.expense.expense_type %>
        </td>

        <td>
          <%= a_trip.expense.payment_type %>
        </td>

        <td>
          <%= a_trip.expense.description %>
        </td>

        <td>
          <%= time_ago_in_words(a_trip.expense.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_trip.expense.updated_at) %> ago
        </td>

        <td>
          <a href="/update_expense/<%= a_trip.expense.id %>">
            Update Expense 
          </a>
        </td>

        <td>
          <a href="/delete_expense/<%= a_trip.expense.id %>">
            Delete Expense 
          </a>
        </td>

      <%else%>


        <td>
          <a href="/add_expense/<%= a_trip.id %>">
            Add Expense 
          </a>
        </td>
      <%end%>


      </tr>
      <% end %>
    </table>
  </div>
</div>

<%else%>
<p> No trips planned</p>
<%end%>

<hr>

<h3>
  <a href="/manage_expenses" >  Create Business Travel Invoice/Expense Report </a>
</h3>


<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= @list_of_trips.ids%>
<%= pie_chart  Expense.where({:trip_id=>@list_of_trips.ids}).group(:expense_type).sum(:expense) %>
<%= pie_chart  Expense.where({:trip_id=>@list_of_trips.ids}).group(:payment_type).count %>