<div>
  <div>
    <h1>
      Expenses for Business Travel: <%=session[:business_travel_name]%> 
    </h1>
  </div>
</div>

      <div>
        <a href="/business_travels/<%=session[:business_travel_id]%>">
          Go back
        </a>
      </div>

<% if @list_of_trips.present?%>
<div>
  <div>
    <table>
      <tr>
        <th>
          Start Location
        </th>

        <th>
          End Location
        </th>

        <th>
          Start Date
        </th>

        <th>
          End Date
        </th>

        <th>
          Trip type
        </th>

        <th>
          Description
        </th>

       <th>
          Expense
        </th>

        <th>
          Expense type
        </th>

        <th>
          Payment type
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trips.each do |a_trip| %>
      <tr>

        <td>
          <%= a_trip.start_a %>
        </td>

        <td>
          <%= a_trip.end_b %>
        </td>

        <td>
          <%= a_trip.start_date %>
        </td>

        <td>
          <%= a_trip.end_date %>
        </td>

        <td>
          <%= a_trip.trip_type %>
        </td>

        <td>
          <%= a_trip.description %>
        </td>

       <%if a_trip.expense.present?%>

        <td>
          <%= a_trip.expense.expense %>
        </td>

        <td>
          <%= a_trip.expense.expense_type %>
        </td>

        <td>
          <%= a_trip.expense.payment_type %>
        </td>

        <td>
          <%= a_trip.expense.description %>
        </td>

        <td>
          <%= time_ago_in_words(a_trip.expense.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_trip.expense.updated_at) %> ago
        </td>

        <td>
          <a href="/update_expense/<%= a_trip.expense.id %>">
            Update Expense 
          </a>
        </td>

        <td>
          <a href="/delete_expense/<%= a_trip.expense.id %>">
            Delete Expense 
          </a>
        </td>

      <%else%>


        <td>
          <a href="/add_expense/<%= a_trip.id %>">
            Add Expense 
          </a>
        </td>
      <%end%>


      </tr>
      <% end %>
    </table>
  </div>
</div>

<%else%>
<p> No trips planned</p>
<%end%>

<hr>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h3> Expense Overview </h3>

<%= pie_chart  Expense.where({:trip_id=>@list_of_trips.ids}).group(:expense_type).sum(:expense) %>
<%= pie_chart  Expense.where({:trip_id=>@list_of_trips.ids}).group(:payment_type).count %>

<h3> Budget Overview </h3>
<h4> Expenses over Time </h4>

<%sum=0%>
<%= area_chart  Expense.where({:trip_id=>@list_of_trips.ids}).joins(:trip).group_by_day(:start_date).sum(:expense).map { |x,y| { x => (sum += y)} }.reduce({}, :merge)%>

<h4> Expenses and Budget by Type </h4>
<%= column_chart  [
{name: "Expenses", data: Expense.where({:trip_id=>@list_of_trips.ids}).group(:expense_type).sum(:expense)},
{name: "Budget", data: Budget.where({:business_travel_id=>@list_of_trips.first.business_travel.id}).group(:budget_type).sum(:budget)}] %>

<h4> Total Expenses vs. Total Budget </h4>
<%= column_chart  [
{name: "Expenses", data: Expense.where({:trip_id=>@list_of_trips.ids}).joins(trip: :business_travel).group("business_travels.description").sum(:expense)},
{name: "Budget", data: Budget.where({:business_travel_id=>@list_of_trips.first.business_travel.id}).joins(:business_travel).group("business_travels.description").sum(:budget)}] %>

<%if Expense.where({:trip_id=>@list_of_trips.ids}).present?%>
<h3>
  <a href="/download_invoice.pdf" target="_blank" >  Create Business Travel Invoice/Expense Report </a>
</h3>
<%end%>
