<div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="6">
              <table>
                <tr>
                  <td class="title">
                    <%= image_tag wicked_pdf_asset_base64('company_logo.png') %>
                  </td>

                  <td>
                    Invoice Business Travel #: <b><%= @invoice.first.trip.business_travel.id %></b>
                    <br>
                    Created: <b><%= Date.today.strftime('%d/%m/%Y') %></b>
                    <br>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr class="information">
            <td colspan="6">
              <table>
                <tr>
                  <td>
                    <b><%= @invoice.first.user.company_name %></b>
                      <br>
                    <b><%= @invoice.first.user.name %></b>
                    <br>
                    <i class="far fa-envelope"></i> <%= @invoice.first.user.email %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr class="heading">
            <td>Business Travel</td>
            <td colspan="6"></td>
            <td class="right">Travel Purpose</td>
          </tr>

          <tr class="details">
            <td><%=@invoice.first.trip.business_travel.description%></td>
            <td colspan="6"></td>
            <td class="right"><%=@invoice.first.trip.business_travel.travel_purpose%></td>
          </tr>

          <tr class="heading">
            <td class="left">Trip ID</td>
            <td class="left">From</td>
            <td class="left">To</td>
            <td class="left">Start</td>
            <td class="left">End</td>

            <td class="right">Payment Method</td>
            <td class="right">Expense Type</td>
            <td class="right">Expense</td>

          </tr>

         <% @invoice.each do |invoice_item| %>
            <tr class="item">
                  <td class="left">
                    <%= invoice_item.trip_id %><br>
              <small><%= invoice_item.description %></small>

                </td>
                <td class="left">
                    <%= invoice_item.trip.start_a %><br>
                </td>
                <td class="left">
                    <%= invoice_item.trip.end_b %><br>
                </td>
                <td class="left">
                    <%= invoice_item.trip.start_date.strftime('%d/%m/%Y') %><br>
                </td>
                <td class="left">
                    <%= invoice_item.trip.end_date.strftime('%d/%m/%Y') %><br>
                </td>

                <td class="right">
                    <%= invoice_item.payment_type %>
                </td>

                <td class="right">
                    <%= invoice_item.expense_type %>
                </td>

                <td class="right">
                    <%= number_to_currency(invoice_item.expense) %><br>
                </td>

            </tr>
         <% end %>

          <tr class="heading">
            <td colspan="6"></td>
            <td>
            </td>

            <td class="right">
               <b>TOTAL: <%= number_to_currency(@invoice.sum(:expense)) %></b>
            </td>
          </tr>
        </table>
    </div>