      <div>
        <a href="/manage_expenses">
          Go back
        </a>
      </div>

<div class="container">
  <div class="row">
    <div class="col">
          <h2>
      Edit expense
    </h2>
    </div>
    <div class="col">
      <%@the_expense = Expense.where({:id=>params.fetch('path_id').to_i}).at(0)%>
    <%session[:trip_id]=@the_expense.trip_id%>

    <form action="/modify_expense/<%= @the_expense.id %>"  method="post" >
      <div>
        <label for="expense_box">
          Expense
        </label>

        <input type="text" id="expense_box" name="query_expense" value="<%= @the_expense.expense %>">
      </div>

      <div>
        <label for="expense_type_box">
          Expense type
        </label>

                                <select  id="expense_type_box" name="query_expense_type" value="<%= @the_expense.expense_type %>">
          <option type="text" value="Flight">Flight</option>
          <option type="text" value="Train">Train</option>
          <option type="text" value="Taxi">Taxi</option>
          <option type="text"  value="Hotel">Hotel</option>  
          <option type="text"  value="Food">Food</option>
          <option type="text"  value="Leisure">Leisure</option>
          </select>
      </div>

      <div>
        <label for="payment_type_box">
          Payment type
        </label>

                  <select  id="payment_type_box" name="query_payment_type" value="<%= @the_expense.payment_type %>">
          <option type="text" value="Cash">Cash</option>
          <option type="text" value="Credit Card">Credit Card</option>
           </select>
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_expense.description %>">
      </div>

      <button>
        Update expense
      </button>
    </form>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
