<div>
  <div>
    <h1>
      List of all images
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new image
    </h2>

    <form action="/insert_image" method="post">
      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="post_id_box">
          Post
        </label>

        <input type="text" id="post_id_box" name="query_post_id">
      </div>

      <button>
        Create image
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Caption
        </th>

        <th>
          Location
        </th>

        <th>
          Post
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_images.each do |an_image| %>
      <tr>
        <td>
          <%= an_image.id %>
        </td>

        <td>
          <%= an_image.caption %>
        </td>

        <td>
          <%= an_image.location %>
        </td>

        <td>
          <%= an_image.post_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_image.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_image.updated_at) %> ago
        </td>

        <td>
          <a href="/images/<%= an_image.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
