<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

    <p> <a href="/">Homepage</a> </p>


  <%if session[:user_id].present?%>
  <p> <a href="/user_sign_out">Sign out</a> </p>
  <%end%>

  <%if notice.present?%>
  <p> <%=notice%> </p>
  <%end%>

  <%if alert.present?%>
  <p> <%=alert%> </p>
  <%end%>

  <body>
    <%= yield %>
  </body>
</html>
